<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.open.job.IDAO.CompanyDAO">
<select id="getCompanyList" resultType="com.open.job.DTO.Company">
	SELECT * FROM Company 
	<include refid="compjoin"/>
</select>
<select id="getCompanyInfo" parameterType="Integer" resultType="com.open.job.DTO.Company">
	Select * From Company
	<include refid="compjoin"/>
	 Where companyNo = #{companyno}
</select>
<sql id="compjoin">
	Inner Join CompanyInfo Using(companyNo)
	Inner Join Companyimg Using(companyNo)
</sql>
</mapper>