<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.open.job.IDAO.CompanyDAO">
<select id="getCompanyInfo" parameterType="Integer" resultType="com.open.job.DTO.sub.CompanyInfo">
	Select * From CompanyInfo
	Where companyNo = #{companyno}
</select>
<select id="getCompanyBase" parameterType="Integer" resultType="com.open.job.DTO.Company">
	Select * From Company
	Inner Join Companyimg Using(companyNo)
	Where companyNo = #{companyno}
</select>
</mapper>