<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.open.job.IDAO.MemberDAO">
<insert id="inserMember" parameterType="com.open.job.DTO.Member">
	Insert into Member(email,password) values(#{email},#{password})
</insert>
<select id="getMemberList" resultType="com.open.job.DTO.Member">
	Select * from Member
</select>
</mapper>